.custom-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  @include option(gap, 80, 0);
  width: max-content;


  &__item {
    display: inline-block;
    text-decoration: none;
    @include is-burger(){
      display: block;
      margin: auto;
    }
  }

  &__item-link {
    display: block;
    margin: 0;
  }

  &__item {
    position: relative;
    z-index: 5;
    color: #212121;
    font-family: Montserrat;
    @include option(font-size, 16, 14);
    font-style: normal;
    font-weight: 700;
    line-height: 180%; 
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    &:hover::after {
        content: "";
        display: inline-block;
        @include option(height, 3, 1);
        position: absolute;
        bottom: 0;
        background-color: black;
        animation: hover-line 0.3s linear;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
  }
}

