.onlineBuy-section {
    padding: 165px 62px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #FEC74E;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        display: inline-block;
        width: 2089px;
        height: 1269px; 
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        background: url("../../../images/onlineBuy/display/light.png") center/ 100% no-repeat;
    }
}
.onlineBuy-section__row  {
    margin-bottom: 100px;
    display: flex;
}
.onlineBuy-section__title {
    margin-right: auto;
    width: 1000px;
    color: #212121;
    font-family: Montserrat;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.5%;    
}
.onlineBuy-section__video {
    align-self: flex-end;
    display: flex;
}
.onlineBuy-section__video-text {
    margin-right: 42px;
    width: 153px;
    color: #212121;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.onlineBuy-section__list {
    margin-bottom: 100px;
    position: relative;
    z-index: 5;
    display: flex;
    gap: 51px;
}
.onlineBuy-section__column {
    padding: 30px;
    width: 361px;
    height: 555px;
    border-radius: 15px;
    background: #FFF;
}
.onlineBuy-section__img {
    margin-bottom: 55px;
    height: 130px;
    width: 130px;
    img {
        max-width: 100%;
        height: 100%;
    }
}
.onlineBuy-section__name {
    margin-bottom: 10px;
    width: 270px;
    color: #212121;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}
.onlineBuy-section__text {
    color: #7D7272;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.onlineBuy-section__button {
    align-self: center;
    position: relative;
    z-index: 5;
    width: 465px;
    height: 94px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; 
    border-radius: 15px;
    background: #E12D43;
}