.winners {
  padding: 160px 100px 80px;
  background: #0F3017;
  overflow: hidden;
  .swiper-container {
    overflow: visible;
  }
  .swiper-slide {
    width: max-content;
  }

  .winners__pagination {
    margin-bottom: 110px;
    align-self: center;
    display: flex;
    gap: 30px;
    width: max-content;
  }
  .swiper-pagination-bullet {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 10px;
      opacity: 0.7;
      background: #F7F7F7;
  }
  .swiper-pagination-bullet-active {
      opacity: 1;
      animation: anim-width-pb 5.5s linear;
      animation-fill-mode: forwards;
  }
  .button {
    align-self: center;
  }
}
.winners__content {
  display: flex;
  flex-direction: column;
}
.winners__row-title  {
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
}
.winners__title {
  color: var(--white, #FFF);
  font-family: Montserrat;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.5%; 
}
.winners__history {
  display: flex;
  gap: 48px;
}
.winners__history-text {
  width: 278px;
  color: var(--white, #FFF);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.winners__list {
  margin-bottom: 70px;
}
.winners__item {
  border-radius: 15px;
  width: 465px;
  height: 630px;
  background: white;
}
.winners__item-img {
  padding-top: 20px;
  height: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    height: 100%;
  }
}
.winners__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #FEC74E;
}
.winners__item-present {
  margin-bottom: 20px;
  color: var(--grey-day-900, #212121);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; 

}
.winners__item-name {
  color: var(--grey-day-900, #212121);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%; 
}