@import "base";

@import "animations";

//@import "../components/framework/modal/modal";
@import "./style-null.scss";
@import "../components/project/project";

.background-green {
    padding: 90px 100px 0;
    background: #0F3017;
    width: 100%;
}

