@import "base";

@import "animations";
@import "mixins";
@import "adaptive";

//@import "../components/framework/modal/modal";
@import "./style-null.scss";
@import "../components/project/project";


.button {
    width: 465px;
    height: 94px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; 
    border-radius: 15px;
    background: #E12D43;
}

