.intro {
    @include option(height, 1080, 600);
    width: 100%;
    position: relative;
    overflow: hidden;

    .swiper-slide {
        @include option(height, 1080, 600);
    }
    .swiper-slide-active {
        .intro__name {
            animation: opac-text 0.3s linear 0.5s;
            animation-fill-mode: forwards;
        }
    }
    .swiper-pagination {
        position: absolute;
        @include option(bottom, 175, 31);
        right: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 40%;
    }
    .swiper-pagination-bullet {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        opacity: 0.7;
        background: #F7F7F7;
    }
    .intro__swiper-img {
        height: 100%;
    }
}
.intro__bc {
    position: absolute;
    z-index: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.intro__main {
    @include option(margin-top, 190, 90);
    display: flex;
    @include option(padding-left, 160, 20);
}
.intro__decor {
    position: absolute;
    top: 0;
    z-index: 0;
    @include option(height, 1147, 371);
    width: 60%;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15px);
    overflow: hidden;
    &::before {
        content: "";
        width: 1205px;
        height: 948px;
        position: absolute;
        right: 69px;
        bottom: 0;
        display: inline-block;
        border-radius: 1205px;
        background: rgba(255, 255, 255, 0.76);
        filter: blur(197px);
    }
}
.intro__left-block {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    flex: 1 0 50%;

    .intro__title {
        @include option(margin-bottom, 28, 35);
        @include option(height, 288, 84);
        @include option(width, 800, 280);
        color:  #212121;
        font-family: Montserrat;
        @include option(font-size, 84, 28);
        font-style: normal;
        font-weight: 700;
        line-height: 100%; 
    }
    .intro__price {
        @include option(margin-bottom, 87, 30);
        width: max-content;
        color: #350296;
        font-family: Montserrat;
        @include option(font-size, 74, 26);
        font-style: normal;
        font-weight: 700;
        line-height: 115.5%;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            @include option(width, 764, 283);
            @include option(height, 136, 43);
            @include option(top, -20, -7);
            @include option(left, -32, -15);
            background: url(../../../images/intro/display/price-border.png) center/ 100% 100% no-repeat;
        } 
        &::after {
            content: "ДЖЕКПОТ";
            position: absolute;
            @include option(top, -40, -17);
            @include option(left, 60, 15);
            display: inline-block;
            color: #350296;
            font-family: Montserrat;
            @include option(font-size, 32, 13.4);
            font-style: normal;
            font-weight: 700;
            line-height: 128%; 
            text-transform: uppercase;
        }
    }
    .intro__tv-row {
        @include option(left, 94, 20);
        margin-bottom: 94px;
        height: max-content;
        display: flex;
        align-items: center;
    }
    .intro__tv-img {
        margin-right: 28px;
        width: 67px;
        height: 67px;
    }
    .intro__tv-text {
        width: 270px;
        color:  #212121;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
    }
    .intro__button {
        width: 465px;
        height: 94px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 116%; 
        border-radius: 15px;
        background: #E12D43;
    }
}

.intro__right-block {
    padding: 0 67px;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .intro__img-label {
        @include option(width, 210, 98);
        @include option(height, 210, 98);
        border-radius: 50%;
        background: linear-gradient(128deg, #FFCD17 11.28%, #FFE689 80.34%);
        backdrop-filter: blur(2px);
        position: relative;
        img {
            @include option(width, 82, 38);
            @include option(height, 82, 38);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            content: "";
            display: inline-block;
            @include option(width, 180, 84);
            @include option(height, 120, 56);
            position: absolute;
            right: -5px;
            transform: scale(1.1);
            background: url("../../../images/intro/display/label-text.png") center/ 100% 100% no-repeat;
        }
        &::after {
            content: "";
            display: inline-block;
            @include option(width, 167, 77);
            @include option(height, 90, 43);
            position: absolute;
            left: 0;
            bottom: 0;
            background: url("../../../images/intro/display/label-text-2.png") center/ 100% no-repeat;
        }
    }
}

.intro__name {
    opacity: 0;
    text-align: center;
    width: 40%;
    position: absolute;
    @include option(bottom, 310, 60);
    right: 0;
    font-family: Montserrat;
    @include option(font-size, 100, 36);
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
    background: linear-gradient(181deg, #FFF 20%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
    .intro {
        .swiper-pagination-bullet-active {
            opacity: 1;
            animation: anim-width-pb 5.5s linear;
            animation-fill-mode: forwards;
        } 
    }
}

@media (max-width: 1023px) {
    .intro {
        .swiper-pagination {
            width: 100%;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            transform: scale(1.5);
        } 
        .intro__main {
            display: flex;
            flex-direction: column;
            @include option(padding-right, 160, 20);
        }
    }
    .intro__left-block {
        .intro__tv-row {
            display: none;
        }
    }
    .intro__decor {
        width: 100%;
    }
    .intro__name {
        width: 100%;
    }
    .intro__right-block {
        padding: 0;
        @include option(padding-top, 40, 20);
    }
}

