mixin intro(content)
    section.intro-section 
        .intro-section__bc
            +carousel(content.main.bc, "backgroundImg")(data-carousel="carouselMain")
        .swiper-pagination
        .intro-section__decor
        .intro-section__main 
            .intro-section__left-block
                h2.intro-section__title!=content.main.title
                p.intro-section__price!=content.main.price
                .intro-section__tv-row 
                    .intro-section__tv-img
                        img(src!=content.main.tv.img, alt="")
                    p.intro-section__tv-text!=content.main.tv.text
                +button(content.main.button)
            .intro-section__right-block
                .intro-section__img-label 
                    img(src!=content.main.labelImg, alt="")

mixin backgroundImg(content, param)
    div&attributes(attributes)
        .intro-section__swiper-img
            +picture(content.img)
        .intro-section__name!= content.name

