.intro {
    height: 1080px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .swiper-slide {
        height: 1080px;
    }
    .swiper-slide-active {
        .intro__name {
            animation: opac-text 0.3s linear 0.5s;
            animation-fill-mode: forwards;
        }
    }
    .swiper-pagination {
        position: absolute;
        bottom: 175px;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 830px;
    }
    .swiper-pagination-bullet {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        opacity: 0.7;
        background: #F7F7F7;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        animation: anim-width-pb 5.5s linear;
        animation-fill-mode: forwards;
    } 
    .intro__swiper-img {
        height: 100%;
    }
}
.intro__bc {
    position: absolute;
    z-index: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.intro__main {
    margin-top: 190px;
    display: flex;
    padding-left: 160px;
}
.intro__decor {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 1147px;
    max-width: 1090px;
    width: 100%;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15px);
    overflow: hidden;
    &::before {
        content: "";
        width: 1205px;
        height: 948px;
        position: absolute;
        right: 69px;
        bottom: 0;
        display: inline-block;
        border-radius: 1205px;
        background: rgba(255, 255, 255, 0.76);
        filter: blur(197px);
    }
}
.intro__left-block {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    flex: 1 0 50%;

    .intro__title {
        margin-bottom: 28px;
        height: 288px;
        width: 800px;
        color:  #212121;
        font-family: Montserrat;
        font-size: 84px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; 
    }
    .intro__price {
        margin-bottom: 87px;
        width: max-content;
        color: #350296;
        font-family: Montserrat;
        font-size: 74px;
        font-style: normal;
        font-weight: 700;
        line-height: 115.5%;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 764px;
            height: 136px;
            top: -20px;
            left: -32px;
            background: url(../../../images/intro/display/price-border.png) center/ 754px 136px no-repeat;
        } 
        &::after {
            content: "ДЖЕКПОТ";
            position: absolute;
            top: -40px;
            left: 60px;
            display: inline-block;
            color: #350296;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 41.229px; 
            letter-spacing: 1.097px;
            text-transform: uppercase;
        }
    }
    .intro__tv-row {
        margin-bottom: 94px;
        height: max-content;
        display: flex;
        align-items: center;
    }
    .intro__tv-img {
        margin-right: 28px;
        width: 67px;
        height: 67px;
    }
    .intro__tv-text {
        width: 270px;
        color:  #212121;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
    }
    .intro__button {
        width: 465px;
        height: 94px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 116%; 
        border-radius: 15px;
        background: #E12D43;
    }
}

.intro__right-block {
    padding: 0 67px;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .intro__img-label {
        width: 210.321px;
        height: 210.321px;
        border-radius: 50%;
        background: linear-gradient(128deg, #FFCD17 11.28%, #FFE689 80.34%);
        backdrop-filter: blur(2px);
        position: relative;
        img {
            width: 81.712px;
            height: 81.712px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            content: "";
            display: inline-block;
            width: 180.176px;
            height: 120px;
            position: absolute;
            right: -5px;
            transform: scale(1.1);
            background: url("../../../images/intro/display/label-text.png") center/ 100% no-repeat;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 167.036px;
            height: 90px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: url("../../../images/intro/display/label-text-2.png") center/ 100% no-repeat;
        }
    }
}

.intro__name {
    opacity: 0;
    text-align: center;
    width: 830px;
    position: absolute;
    bottom: 310px;
    right: 0;
    font-family: Montserrat;
    font-size: 114px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
    background: linear-gradient(181deg, #FFF 20%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




