.intro {
    @include option(height, 1080, 702);
    width: 100%;
    position: relative;
    overflow: hidden;

    .swiper-slide {
        @include option(height, 1080, 600);

        &-active {
            .intro__name {
                animation: opac-text 0.3s linear 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }
    .swiper-pagination {
        width: 45%;
        @include option(bottom, 175, 133);
    }

    &__swiper-img {
        height: 100%;
    }
    &__bc {
        position: absolute;
        z-index: 0;
    
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__main {
        @include option(margin-top, 190, 90);
        display: flex;
        @include option(padding-left, 160, 20);
    }
    &__decor {
        position: absolute;
        top: 0;
        z-index: 0;
        @include option(height, 1147, 371);
        width: 56.5%;
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(30px);
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            @include option(right, 69);
            bottom: 0;
            display: inline-block;
            // border-radius: 1205px;
            background-color: rgba(255, 255, 255, 0.76);
            filter: blur(197px);
        }
    }
    &__left-block {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 5;
        flex: 1 0 50%;
    }
    &__title {
        @include option(margin-bottom, 48, 35);
        @include option(height, 288, 84);
        @include option(width, 840, 280);
        color:  #212121;
        @include option(font-size, 84, 28);
        font-style: normal;
        font-weight: 700;
        line-height: 100%; 
    }
    &__price {
        @include option(margin-bottom, 87, 35);
        width: max-content;
        color: #350296;
        @include option(font-size, 74, 26);
        font-style: normal;
        font-weight: 700;
        line-height: 115.5%;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            @include option(width, 764, 283);
            @include option(height, 136, 43);
            @include option(top, -20, -7);
            @include option(left, -32, -15);
            background: url(../../../images/intro/display/price-border.png) center/ 100% 100% no-repeat;
        } 
        &::after {
            content: "ДЖЕКПОТ";
            position: absolute;
            @include option(top, -40, -17);
            @include option(left, 60, 15);
            display: inline-block;
            color: #350296;
            @include option(font-size, 32, 13.4);
            font-style: normal;
            font-weight: 700;
            line-height: 128%; 
            text-transform: uppercase;
        }
    }
    &__tv-row {
        @include option(left, 94, 20);
        @include option(margin-bottom, 94);
        height: max-content;
        display: flex;
        align-items: center;
    }
    &__mobile-tv-row {
        background: #0F3017;
        position: absolute;
        bottom: 0;
        height: max-content;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 102px;
        .intro__tv-text {
            color: white;
        }
    }
    &__tv-img {
        @include option(margin-right, 28, 18);
        @include option(width, 67, 49);
        @include option(height, 67, 49);
        img {
            height: 100%;
        }
    }
    &__tv-text {
        @include option(width, 270, 210);
        color:  #212121;
        @include option(font-size, 16);
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
    }
    &__right-block {
        @include option(padding, 0 67 0 67, 0 0 0 0);
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__img-label {
        @include option(width, 210, 98);
        @include option(height, 210, 98);
        border-radius: 50%;
        background: linear-gradient(128deg, #FFCD17 11.28%, #FFE689 80.34%);
        backdrop-filter: blur(2px);
        position: relative;
        img {
            @include option(width, 82, 38);
            @include option(height, 82, 38);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            content: "";
            display: inline-block;
            @include option(width, 180, 84);
            @include option(height, 120, 56);
            position: absolute;
            @include option(right, -5);
            transform: scale(1.1);
            background: url("../../../images/intro/display/label-text.png") center/ 100% 100% no-repeat;
        }
        &::after {
            content: "";
            display: inline-block;
            @include option(width, 167, 77);
            @include option(height, 90, 43);
            position: absolute;
            left: 0;
            bottom: 0;
            background: url("../../../images/intro/display/label-text-2.png") center/ 100% no-repeat;
        }
    }
    &__name {
        opacity: 0;
        text-align: center;
        width: 44%;
        position: absolute;
        @include option(bottom, 300, 60);
        right: 0;
        @include option(font-size, 114, 28);
        font-style: normal;
        font-weight: 800;
        line-height: 100%; 
        background: linear-gradient(181deg, #FFF 20%, rgba(255, 255, 255, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@include NOT-DESKTOP() {
    .intro {
        &__main {
            display: flex;
            flex-direction: column;
            @include option(padding-right, 160, 20);
        }
        &__price {
            @include option(letter-spacing, 1.076)
        }
        &__mobile-tv-row {
            display: flex;
        }
        &__tv-row {
            display: none;
        }
        &__decor {
            width: 100%;
        }
        &__name {
            width: 100%;
        }
        &__right-block {
            @include option(padding-top, 40, 20);
        }
    }
}

