mixin intro(content)
    section#intro.intro
        .intro__bc
            +carousel(content.main.bc, "backgroundImg")(data-carousel="carouselMain")
        .swiper-pagination
        .intro__decor
        .intro__main 
            .intro__left-block
                h2.intro__title!=content.main.title
                p.intro__price!=content.main.price
                .intro__tv-row 
                    .intro__tv-img
                        +picture(content.main.tv.imgTV)
                    p.intro__tv-text!=content.main.tv.text
                +button(content.main.button)
            .intro__right-block
                .intro__img-label 
                    img(src!=content.main.labelImg, alt="")

mixin backgroundImg(content, param)
    div&attributes(attributes)
        .intro__swiper-img
            +picture(content.img)
        .intro__name!= content.name

