.info {
  overflow: hidden;
  background: #0F3017;
  @include option(padding, 160 160 165 160, 0 0 0 0);
  .button {
    align-self: center;
    z-index: 2;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      position: absolute;
      @include option(left, -229);
      @include option(bottom, -260);
      display: inline-block;
      @include option(width, 927, 284);
      @include option(height, 684, 346);
      opacity: 0.05;
      background: url(../../../images/download/display/decor.svg) center/ 100% no-repeat;
    }
  }
  &__title{
    position: relative;
    z-index: 2;
    @include option(margin-bottom, 105, 30);
    @include option(width, 1000, 289);
    color: #FFF;
    @include option(font-size, 84, 26);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  &__price {
    position: relative;
    z-index: 2;
    @include option(margin-bottom, 183, 36);
    color: #FEC74E;
    @include option(font-size, 74, 26);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      @include option(width, 764, 288);
      @include option(height, 136, 63);
      @include option(top, -19);
      @include option(left, -55, -8);
      background: url(../../../images/info/display/price-border.svg) center/ 100% 100% no-repeat;
    }  
    &::after {
      content: "ДЖЕКПОТ";
      position: absolute;
      @include option(top, -40, -18);
      @include option(left, 55, 22);
      display: inline-block;
      color: #FEC74E;
      @include option(font-size, 32, 13.4);
      font-style: normal;
      font-weight: 700;
      line-height: 128%; 
      text-transform: uppercase;
    }
  }
  &__decor {
    @include option(width, 749, 397);
    @include option(height, 1003, 344);
    position: absolute;
    z-index: 0;
    @include option(top, -120);
    @include option(right, -150, -100);
    img {
      position: relative;
      z-index: 4;
      max-width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      @include option(top, -150);
      @include option(right, -220);
      display: inline-block;
      @include option(width, 1000, 200);
      @include option(height, 1000, 200);
      @include option(border-radius, 577);
      filter: blur(152px);
      background: linear-gradient(175deg, #FFF -72.92%, rgba(255, 255, 255, 0.00) 83.07%);
    }
  }
}

@include NOT-DESKTOP() {
  .info {
    &__price {
      text-align: center;
    }
    &__decor {
      position: static;
  
      &::before {
        top: initial;
        @include option(bottom, 100);
        right: 50%;
        transform: translateX(50%);
        filter: blur(42px);
      }
    }
    &__content {
      &::after {
        transform: rotateZ(180deg);
        @include option(left, -229, -110);
        @include option(bottom, -260, 60);
      }
    }
  }
}
