@import "../../framework/header/header";

//@include header(X, 1);
@include header(Y);

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include option(height, 190, 90);
  margin-bottom: 32px;
  @include option(padding-top, 40, 22);
  @include option(padding-left, 100, 20);
  @include option(padding-right, 100, 20);
  @include option(padding-bottom, 40, 17);
  max-height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.custom-header {
  // Константы
  @mixin mod($mod) {
    .custom-header_#{$mod} & {
      @content;
    }
  }

  &__logo {
    @include option(width, 105, 48);
    @include option(height, 110, 51);
    position: relative;
    z-index: 5;
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
  }

  &__burger {
    display: none !important;
    @include option(height, 40, 27);
    @include option(width, 50, 26);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 15 !important;
    p {
      @include option(height, 5, 3);
      @include option(border-radius, 15);
      width: 100%;
    }
  }
  &__wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  &__mute-button {
    float: right;
  }
}

@include NOT-DESKTOP() {
  .header {
    flex-direction: row-reverse;
    &__burger_active {
      position: fixed;
    }
    &__burger {
      display: flex !important;
    }

    &__wrapper_active {
      overflow: auto;
      position: fixed;
      z-index: 10;
      height: 100vh;
      width: 100%;
      background: #cccccc;
      min-height: 100vh;

      .header__content {
        transform: initial;
      }
      .custom-menu {
        position: relative;
        @include option(top, 100);
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
