.footer {
  background: #212121;

  .social-block__buttons {
    display: flex;
    @include option(gap, 26);
  }
  .social-block__item {
    @include option(width, 36, 25);
    @include option(height, 36, 25);

    svg {
      width: 100%;
    }
  }
}
.footer__content {
  @include option(padding-top, 42, 30);
  @include option(padding-left, 208, 25);
  @include option(padding-right, 208, 25);
  @include option(padding-bottom, 80, 56);
  display: flex;
  justify-content: space-between;
  @include option(gap, 100, 10);
}
.footer__left {
  @include option(width, 800);
}
.footer__logo-img {
  @include option(width, 186, 114);
  @include option(height, 52, 32);
  @include option(margin-bottom, 25, 15);
  img {
    width: 100%;
  }
}
.footer__line {
  @include option(margin-bottom, 24, 9);
  background: #F3F6F8;
  height: 1px;
  width: 100%;
}
.footer__block-text {
  @include option(margin-bottom, 50, 21);
  .footer__text:not(:last-child) {
    @include option(margin-bottom, 20, 10);
  }
}
.footer__text {
  @include option(font-size, 13.333, 8.2);
  color: #7F858A;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__right {
  @include option(width, 448, 283);
}
.footer__gr-row {
  margin-bottom: 25px;
  display: flex;
  @include option(gap, 30, 9);
}
.footer__gr-img {
  @include option(height, 50, 27);
  img {
    height: 100%;
  }
}
.footer__text-org {
  margin-bottom: 30px;
  color: #FFF;
  font-family: Roboto;
  @include option(font-size, 13.333, 8.2);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__name-row {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  @include option(gap, 30, 9);
  .footer__name-img:last-child {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include option(height, 45, 32);
    border-radius: 5px;
    background: #FFF;
    picture, img {
      height: 100%;
    }
  }
}
.footer__text-center {
  @include option(margin-bottom, 30, 10);
  color: #FFF;
  font-family: Roboto;
  @include option(font-size, 13.333, 8.2);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__name-img {
  @include option(width, 120, 61);
}

@media (max-width: 1024px) {
  .footer__content {
    flex-direction: column;
    @include option(gap, 21);
  }
  .footer__left {
    width: 100%;
  }
  .footer__right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    width: 100%;
  }
  .footer__name-row {
    flex-direction: column;
    align-items: center;
  }
  .footer__gr-row {
    margin-bottom: 0;
  }
  .footer__text-org {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {

}