.footer {
  background: #212121;
  @include option(padding, 42 268 100 208, 30 20 56 20);
  .social-block__buttons {
    display: flex;
    @include option(gap, 26, 19);
  }
  .social-block__item {
    @include option(width, 36, 25);
    @include option(height, 36, 25);

    svg {
      width: 100%;
    }
  }
  &__content {
    @include wrapper(1600);
    display: flex;
    justify-content: space-between;
    @include option(gap, 100, 10);
  }
  &__left {
    @include option(width, 800);
  }
  &__logo-img {
    @include option(width, 186, 114);
    @include option(height, 52, 32);
    @include option(margin-bottom, 32, 15);
    img {
      width: 100%;
    }
  }
  &__line {
    @include option(margin-bottom, 24, 9);
    background: #F3F6F8;
    @include option(height, 1);
    width: 100%;
  }
  &__block-text {
    @include option(margin-bottom, 43, 21);
    .footer__text:not(:last-child) {
      @include option(margin-bottom, 20, 12);
    }
  }
  &__text {
    @include option(font-size, 13.333, 8.2);
    color: #7F858A;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__right {
    @include option(width, 448, 283);
  }
  &__gr-row {
    @include option(margin-bottom, 33);
    display: flex;
    @include option(gap, 30, 9);
  }
  &__gr-img {
    @include option(height, 50, 27);
    img {
      height: 100%;
    }
  }
  &__text-org {
    @include option(margin-bottom, 30);
    color: #FFF;
    font-family: Roboto;
    @include option(font-size, 13.333, 8.2);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__name-row {
    @include option(margin-bottom, 33);
    display: flex;
    align-items: center;
    @include option(gap, 30, 9);
    .footer__name-img:last-child {
      @include option(padding, 6 0 6 0);
      display: flex;
      justify-content: center;
      align-items: center;
      @include option(height, 45, 32);
      @include option(border-radius, 5);
      background: #FFF;
      picture, img {
        height: 100%;
      }
    }
  }
  &__text-center {
    @include option(margin-bottom, 30, 3);
    color: #FFF;
    font-family: Roboto;
    @include option(font-size, 13.333, 8.2);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__name-img {
    @include option(width, 120, 61);
  }
}

@include NOT-DESKTOP() {
  .footer {
    &__content {
      flex-direction: column;
      @include option(gap, 21);
    }
    &__left {
      width: 100%;
    }
    &__right {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      @include option(gap, 25, 15);
      width: 100%;
    }
    &__name-row {
      flex-direction: column;
      align-items: center;
    }
    &__gr-row {
      margin-bottom: 0;
    }
    &__text-org {
      margin-bottom: 0;
    }
  }
}

