extends components/project/custom-page/custom-page

prepend title
  -let title = projectDescription;

block content
  //- +intro(copyright.intro)
  //- +ticket(copyright.ticket)
  //- +winners(copyright.winners)
  //- +travel(copyright.travel)
  //- +join(copyright.join)
  //- +onlineBuy(copyright.onlineBuy)  
  +download(copyright.download)
  +info(copyright.info)
  +footer(copyright.footer)





