.travel {
  background: #0F3017;
  position: relative;
  .carousel__item {
    @include option(width, 550);
  }
  .swiper-wrapper {
    @include option(height, 750, 430);
    @include option(width, 4400);
    background: url("../../../images/travel/display/road.svg") left bottom no-repeat;
    background-size: 90% 85%;

    .carousel__item:nth-child(1) {
      position: relative;
      @include option(left, 80);
      top: 50%;
      .travel__item {
        transform: rotate(0.946deg);
        &::after {
          @include option(right, 70, 30);
          transform: scale(2);
        }
      }
    }
    .carousel__item:nth-child(2) {
      position: relative;
      @include option(left, 200);
      top: 10%;
      .travel__item {
        transform: rotate(-10.083deg);
        &::after {
          @include option(top, -30, -15);
          @include option(right, 40);
          transform: scale(2) rotate(-80deg);
        }
      }
    }
    .carousel__item:nth-child(3) {
      position: relative;
      @include option(left, 150);
      top: 50%;
      .travel__item {
        transform: rotate(3.725deg);
        &::after {
          @include option(top, -30);
          @include option(right, 30);
          transform: scale(2) rotate(-90deg);
        }
      }
    }
    .carousel__item:nth-child(4) {
      position: relative;
      @include option(left, 100);
      top: 5%;
      .travel__item {
        transform: rotate(-3.726deg);
        &::after {
          top: 0px;
          right: 0px;
          transform: scale(2) rotate(5deg);
        }
      }
    }
    .carousel__item:nth-child(5) {
      position: relative;
      @include option(left, 0);
      top: 45%;
      .travel__item {
        transform: rotate(4.452deg);
        &::after {
          @include option(top, -30);
          @include option(right, 30);
          transform: scale(2) rotate(-82deg);
        }
      }
    }
    .carousel__item:nth-child(6) {
      position: relative;
      @include option(left, 0);
      top: 8%;
      .travel__item {
        transform: rotate(-0.343deg);
        &::after {
          @include option(top, -30, -15);
          @include option(right, 30);
          transform: scale(2) rotate(-54deg);
        }
      }
    }
    .carousel__item:nth-child(7) {
      position: relative;
      @include option(left, -150);
      top: 50%;
      .travel__item {
        transform: rotate(-3.726deg);
        &::after {
          @include option(top, -50, -20);
          @include option(right, 40);
          transform: scale(2) rotate(-90deg);
        }
      }
    }
    .carousel__item:nth-child(8) {
      position: relative;
      @include option(left, -150);
      top: 25%;
      .travel__item {
        transform: rotate(7.718deg);
        &::after {
          @include option(top, -30);
          @include option(right, 30);
          transform: scale(2) rotate(-57deg);
        }
      }
    }
  }
  .swiper-container {
    @include option(margin-left, -67, -20);
    @include option(margin-right, -67, -20);
  }
  .button {
    align-self: center;
    position: relative;
    z-index: 5;
  } 
  &::after {
    content: "";
    position: absolute;
    @include option(right, -260);
    @include option(bottom, -312);
    display: inline-block;
    @include option(width, 1216);
    @include option(height, 651);
    opacity: 0.05;
    transform: rotateX(180deg);
    background: url(../../../images/download/display/decor.svg) center/ 100% 100% no-repeat;
  }
  &__pagination {
    @include option(margin-bottom, 90, 46);
    align-self: center;
    display: flex;
    @include option(gap, 30, 15);
    width: max-content;
  }
  &__content {
    @include wrapper(1720, 2);
    display: flex;
    flex-direction: column;
    @include option(border-radius, 15);
    background: #FEC74E;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        display: inline-block;
        @include option(width, 2089);
        height: 100%; 
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../../../images/onlineBuy/display/light.png") bottom center/ 100% no-repeat;
    }
  }
  &__title {
    @include option(margin-bottom, 28, 19);
    position: relative;
    color: var(--grey-day-900, #212121);
    @include option(font-size, 74, 26);
    font-style: normal;
    font-weight: 700;
    line-height: 115.5%; 
  }
  &__text {
    @include option(width, 800);
    position: relative;
    color: var(--grey-day-900, #212121);
    font-family: Montserrat;
    @include option(font-size, 20, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
  }
  &__item {
    @include option(padding, 30 30 30 30);
    @include option(width, 500);
    @include option(height, 290, 372);
    @include option(border-radius, 15);
    background: #FFF;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.13);
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      @include option(width, 49, 31);
      @include option(height, 81, 51);
      position: absolute;
      right: 0;
      top: 0;
      background: url(../../../images/travel/display/pin.svg) left top/ 100% 90% no-repeat;
    }
    &-title {
      @include option(margin-right, -20);
      @include option(margin-bottom, 18);
      color:  #212121;
      @include option(font-size, 24, 23);
      font-style: normal;
      font-weight: 700;
      line-height: 130%; 
    }
    &-text {
      color: #212121;
      @include option(font-size, 18, 14);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; 
    }
  }
}

#Vector {
  transform: scale(1.2);
}

@include NOT-DESKTOP() {
  .travel {
    padding: 0;
    &::after {
      content: "";
      display: none;
    }
    .carousel__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: initial !important;
      top: initial !important;
      width: 100%;
      max-width: 100vw;
    }
    &__item {
      width: 80%;
    }
    &__list {
      @include option(margin-bottom, 30);
    }
    &__content {
      border-radius: 0;
    }
    &__text {
      width: 100%;
    }
  }
}
