mixin ticket(content)
    section.ticket-section
        p.ticket-section__label= content.label
        p.ticket-section__title= content.title
        p.ticket-section__subtitle= content.subtitle
        
        