.download {
  padding: 0 100px;
  background: #0F3017;
}
.download__content {
  padding: 165px 62px 0;
  position: relative;
}
.download__title {
  margin-bottom: 134px;
  width: 943px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.5%; 
}
.download__list {
  margin-bottom: 165px;
  & .download__item-text:nth-child(1) {
    &::before {
      content: "";
      margin-right: 70px;
      display: inline-block;
      width: 57.216px;
      height: 55px;
      background: url("../../../images/download/display/line-1.svg") center/ 46px 55px no-repeat;
    }
  }
  & .download__item-text:nth-child(2) {
    &::before {
      content: "";
      margin-right: 70px;
      display: inline-block;
      width: 57.216px;
      height: 50.633px;
      background: url("../../../images/download/display/line-2.svg") center/ 100% no-repeat;
    }
  }
  & .download__item-text:nth-child(3) {
    &::before {
      content: "";
      margin-right: 70px;
      display: inline-block;
      width: 57.216px;
      height: 50.633px;
      background: url("../../../images/download/display/line-3.svg") center/ 100% no-repeat;
    }
  }
  & .download__item-text:nth-child(4) {
    &::before {
      content: "";
      margin-right: 70px;
      display: inline-block;
      width: 57.216px;
      height: 50.633px;
      background: url("../../../images/download/display/line-4.svg") center/ 70px 70px no-repeat;
    }
  }
}
.download__item-text {
  margin-bottom: 56px;
  display: flex;
  align-items: center;
  color:  #FFF;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -2px;
}
.download__buttons-row {
  margin: 0 -100px;
  height: 409.672px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  background: #FEC74E;
}
.download__button {

}
.download__decor  {
  position: absolute;
  top: 44px;
  right: 0;
  width: 625px;
  height: 979px;
  &::before {
    content: "";
    position: absolute;
    top: 212px;
    display: inline-block;
    width: 577px;
    height: 577px;
    border-radius: 577px;
    filter: blur(152px);
    background: linear-gradient(175deg, #FFF -72.92%, rgba(255, 255, 255, 0.00) 83.07%);
  }
  img {
    position: relative;
    z-index: 4;
  }
  &::after {
    content: "";
    position: absolute;
    right: -100px;
    display: inline-block;
    width: 1255.516px;
    height: 886.55px;
    opacity: 0.05;
    background: url(../../../images/download/display/decor.svg) center/ 100% no-repeat;
  }
}